html {
	background-color: #F0F8FF
}

body,html {
  margin: 0;
  font-family: sans-serif;
}

h1 { 
	color: #d54d7b; 
	font-family: "Great Vibes", cursive; 
	font-size: 165px; 
	line-height: 160px; 
	font-weight: normal; 
	margin-bottom: 0px; 
	margin-top: 40px; 
	text-align: center; 
	text-shadow: 0 1px 1px #fff; 
}

h2 { 
	color: #d54d7b; 
	font-family: "Great Vibes", cursive; 
	font-size: 90px; 
	line-height: 85px; 
	font-weight: normal; 
	margin-bottom: 0px; 
	margin-top: 40px; 
	text-align: center; 
	text-shadow: 0 1px 1px #fff; 
}

p { 
	color: #7a7c7f; 
	font-size: 29px; 
	font-family: "Libre Baskerville", serif; 
	line-height: 45px; 
	text-align: center; 
	text-shadow: 0 1px 1px #fff; 
	padding-top: 20px; 
}

p.byline { 
	font-style: italic; 
	color: #B6B6B6; 
	font-size: 24px; 
	margin-top: 20px; 
	text-align: center; 
	text-shadow: 0 1px 1px #fff; 
}

#prvi{
	padding-top: 10px;	
}	

h3{
	padding-left: 40px;
}

ol {
  list-style: none;
  counter-reset: steps;
}
ol li {
  counter-increment: steps;
}
ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #ff6f00;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}
ol ol li::before {
  background: darkorchid;
}

ul {
  list-style: none;
}
ul li::before {
  content: "✅";
  display: inline-block;
  margin-right: 0.2rem;
}

ul li{
	font-family: "Libre Baskerville", serif; 
}

.center{
	text-align: center;
}

#ul_span{
	font-family: "Great Vibes", cursive; 
	font-size: 30px;
	color: purple;
	padding-left: 50px;
	font-style: italic;
}

nav {
  display: table;
  margin: 0 auto;
  padding-top: 50px;
}

nav a {
  position: relative;
  width: 10%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}

nav a:nth-child(4):before {
  background-color: blue;
}

nav a:nth-child(4):after {
  background-color: black;
}

nav a:nth-child(5):before {
  background-color: magenta;
}

nav a:nth-child(5):after {
  background-color: violet;
}

nav a:hover {
  color: #ffff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

a {
  flex: 1;
  text-decoration: none;
  text-align: center;
  line-height: 3;
  color: black;
}

a:link, a:visited, a:focus {
  background: pink;
}

a:hover {
  background: green;
}

a:active {
  background: red;
  color: white;
}

#yin-yang {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #eee;
  border-color: red;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
}
#yin-yang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #eee;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
#yin-yang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  border: 18px solid #eee;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}

#tablica{
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	margin-bottom: 100px;
}